.form-container {
    margin-bottom: 2rem;
    padding-right: 32px;
}

.menu-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

.f-input {
    min-height: 56px;
    background: rgba(255, 255, 255, .2);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 14px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 1rem;
    width: calc(100% - 32px);
}

textarea.f-input {
    padding: 14px;
}

input[name="color"] {
    padding: 2px;
    min-height: 56px;
    background: rgba(255, 255, 255, .2);
    width: calc(100% - 4px);
    border-radius: 8px;
}

.f-input::placeholder {
    color: rgba(255, 255, 255, .6);
    font-weight: 100;
    font-size: 1rem;
}

.f-button {
    height: 56px;
    background: var(--blue-300);
    border-radius: 8px;
    width: 100%;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.f-button:hover {
    background: #1a5eff;
}