.card-bg {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    background-color: #80E5FF;
    padding: 32px;
}

.card-window {
    background-color: var(--dark_blue);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card-header {
    display: flex;
    height: 32px;
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-body{
    padding: 16px;
    color: #FFFFFF;
}

.card-footer {
    margin-top: 1rem;
    background: rgba(80, 129, 251, .2);
    color: #FFFFFF;
    font-weight: 300;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
