:root{
    --mac_red: #FF5F56;
    --mac_yellow: #FFBD2E;
    --mac_green: #27C93F;
    --dark_blue: #051D3B;
    --middle_blue: #5081FB;
}

.mac-red{
    background: var(--mac_red);
}
.mac-yellow{
    background: var(--mac_yellow);
}
.mac-green{
    background: var(--mac_green);
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}