.custom-text-input {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    outline: none;
    min-height: 46px;
    width: 100%;
    padding: 14px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 1rem;
}

.custom-text-input::placeholder{
    color: rgba(255, 255, 255, .6);
}

input[type=color].custom-text-input {
    padding: 8px;
    border: solid 1px;
}

.custom-button{
    height: 46px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: var(--middle_blue);
    color: var(--dark_blue);
}