* {
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    color: #ffffff;
}

body {
    background: var(--dark_blue);
    height: 100%;
}

a {
    text-decoration: none;
}